:root{
    --white: #e0ecee;
    --black: 0, 0, 0;
}

*{
    box-sizing: border-box;
}

body{
    background: rgb(117,182,220);
    font-family: 'Vollkorn', serif;    
    background-image: url("https://i.pinimg.com/originals/53/f9/6c/53f96cae5e202b2dfa3b2dd8558d11c3.png");
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    background-color:rgb(115,179,220);
}
h1{
    font-family: 'Crete Round', serif;
    font-size:35px; 
    text-align: center;
    letter-spacing: 0.15rem;
    color:var(--white);
}
p{
    letter-spacing: 0.1rem;
    font-size:1.5rem;
    text-align: center;
    color:var(--white);
    margin:1%;
}
/* navbar */
.navbar{
    padding:10px 20px;
    z-index:10;
    position:fixed;
    width: 100%;
    top:0;
    background: rgba(var(--black),0.5) !important;
}
.navbar-brand img{
    height:90px;
    width:90px;
}
input.form-control{
    padding: 20px;
}

/* list of pokemon */
.pokemon-list{
    margin-top:150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pokemonList-button{
    font-family: 'Stylish', sans-serif;
    text-transform: capitalize;
    font-size: 25px;
    width:200px;
    margin:10px;
    padding:15px;
    border-radius: 5px;

    /* border-color: rgba(255, 255, 255, 0.2); */
    color: var(--white);
    background:rgba(var(--black), 0.4);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
    transition: .2s;
    cursor:pointer;
}

.pokemonList-button:hover{
    background: rgb(20,238,188);
    background: linear-gradient(0deg, rgba(20,238,188,0.29735644257703087) 0%, rgba(45,231,253,0.30015756302521013) 100%);  
    color: rgba(0, 0, 0, 0.8);
    font-size: 26px;
}

.pokemon-list li{
    text-align: center;
    list-style: none;
}

.list-group-item{
    background-color: rgba(var(--black), 0);
    border:0;
}

/* Modals */
.modal-content{
    text-align: center;
    width:100%;
    padding:1.2rem;
    background: rgba(var(--black), 0.3);        
}
.modalBody{
    padding-bottom: 2rem;
}

.modal-header{
    text-transform: capitalize;
}
.pokemon-img{
    margin:10% 10%;
    margin-left:auto;
    margin-right:auto; 
}
.modal-footer{
    padding-bottom: 0.5rem;
}
.close{
    line-height:0;
    color: var(--white);
    font-size: 3rem;  
    font-weight:500;
}
.close:hover{
    color:rgba(var(--black), 0.1);
}

.modal h1{
    margin-top:0;
}

.modal p{
    margin-bottom:0;
}

/* scroll to top button */

#btnTop{
    display:none;
    position: fixed;
    right:10px;
    bottom:10px;
}

/* MEDIA QUERIES */
@media (max-width: 780px){
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* when screen width is less than 550px, center the list of pokemon */
    .pokemon-list{
        padding-top:50px;
    }
    .pokemon-img{
        width:150px; 
        height: 150px;        
    }
    h1{
        font-size:30px;
    }
    p{
        font-size: 1.3rem;
    }
}

@media (max-width: 450px){
    .navbar-brand img{
        height:45px;
        width:45px;
    }
    .pokemon-list{
        padding-top:0;
    }
}
